---
layout: default
robots: noindex
---

<div class="main-post-list">
  <script src="https://kit.fontawesome.com/c83e9364b0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">

  <header class="post-header">
    <br/>
    <h1 class="post-title">About</h1>
  </header>

  <section class="post">
    <p class="content-paragraph" style="color:#2B2B2B">
      I am Mahmoud Abumandour, a first-year PhD student at <a target="_blank" href="https://www.sfu.ca">Simon Fraser University</a>, supervised by <a target="_blank" href="https://www2.cs.sfu.ca/~alaa/alaa_home.shtml">Professor Alaa Alameldeen</a>.

      I am interested in a wide spectrum of technologies from software systems to hardware and their interaction.
    </p>

    <p class="content-paragraph" style="color:#2B2B2B">
      My current research concentration is securing deep learning applications running on edge devices against fault injection attacks.
    </p>

  <hr class="post-list__divider ">
  <h3 class="nobreak"><i align="left" class="fa-solid fa-code fa-xs"></i> Experience</h3>

  <p style="margin-top: 25px; margin-bottom: 0px"><strong>Intel Corporation (Santa Clara, CA - Remote)</strong></p>
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">Graduate Intern - CPU Architecture</span>
        (Jan ‘24 – May ‘24)</li>
    <ul>
      <li>Researched, modelled, and assessed CPU front-end features, including instruction prefetching and caching</li>
      <li>Performed in-depth workload analysis to categorize based on instruction icache footprint and branch behavior</li>
      <li>Conducted comparative studies between functional and cycle-accurate simulators and identified sources of miscorrelation</li>
    </ul>
  </ul>

  <p style="margin-bottom: 0px"><strong>Simon Fraser University (BC, Canada)</strong></p>
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">Research Assistant</span> (Sep '22 – Present)</li>
    <ul>
    <li>Assessed the impact of different attack vectors against quantized DNNs</li>
    <li>Devised a fatal bit-flip attack against quantized DNNs and explored potential defenses</li>
    </ul>

  </ul>

  <p style="margin-bottom: 0px"><strong>Google Summer of Code (Remote)</strong></p>
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">Software Developer - The RTEMS Organization</span> (May '22 - Sep '22)</li>
    <ul>
      <li>Used profiler-guided optimizations to achieve 8x performance improvement in the release generation process</li>
      <li><a href="https://avx.hashnode.dev/gsoc-2022-final-submission-rtems-release-generator" target="_blank">RTEMS: Release Generator</a></li>
    </ul>
  </ul>

  <p style="margin-bottom: 0px"><strong>Master Micro (Cairo, Egypt)</strong></p>
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">Software Engineering Intern</span> (Oct '21 - Feb '22)</li>
    <ul>
      <li>Designed and assessed the performance of two data storage schemes of the Design Database, the central data structure for storing design points.</li>
    </ul>
  </ul>

  <p style="margin-bottom: 0px"><strong>Google Summer of Code (Remote)</strong></p>
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">Software Developer - The QEMU Organization</span> (May '21 - Aug '21)</li>
    <ul>
      <li>Implemented multicore cache emulation and performance evaluation of userspace and full-system workloads</li>
      <li> <a href="https://www.qemu.org/2021/08/19/tcg-cache-modelling-plugin/" target="_blank">QEMU: TCG Cache Modelling Plugin</a></li>
    </ul>
  </ul>

  <hr class="post-list__divider ">
  <h3 class="nobreak"><i align="left" class="fa-solid fa-chalkboard fa-xs"></i> Teaching</h3>

    <ul style="margin-top: 5px">
      <li>CMPT 295: Introduction to Computer Systems (Spring '23, Summer '24, Fall '24, Spring '24)</li>
      <li>CMPT 379: Principles of Compiler Design (Summer '23)</li>
      <li>CMPT 750: Computer Architecture (Fall '23, Fall '24)</li>
    </ul>

  <hr class="post-list__divider ">
  <h3 class="nobreak"><i align="left" class="fa-solid fa-circle-info fa-xs"></i> Service</h3>

    <ul style="margin-top: 5px">
      <li>Volunteered in <a href="https://microarch.org/micro57/">MICRO 2024</a></li>
    </ul>


  <hr class="post-list__divider ">
  <h3 class="nobreak"><i align="left" class="fa-solid fa-graduation-cap fa-xs"></i> Education</h3>

  <p style="margin-top: 25px; margin-bottom: 0px"><strong>Simon Fraser University</strong> (BC, Canada)</p>
      
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">PhD in Computer Science (Sep ‘24 – Present)</span>
      <ul>
        <li>Advisor: Prof. <a href="https://www2.cs.sfu.ca/~alaa/alaa_home.shtml" target="_blank">Alaa Alameldeen</a></li>
      </ul>
    </li>
    <li><span style="color:#2B2B2B">MSc in Computer Science (Sep ‘22 – Aug ‘24)</span>
      <ul>
        <li>Advisor: Prof. <a href="https://www2.cs.sfu.ca/~alaa/alaa_home.shtml" target="_blank">Alaa Alameldeen</a></li>
        <li>Focus: Security and reliability of edge platforms running neural networks</li>
      </ul>
    </li>
  </ul>

  <p style="margin-top: 25px; margin-bottom: 0px"><strong>Mansoura University</strong> (Mansoura, Egypt)</p>
  <ul style="margin-top: 5px">
    <li><span style="color:#2B2B2B">BSc in Computer and Communication Engineering (Oct ‘17 – Jul ‘22)</span>
      <ul>
        <li>Ranked first in class with a GPA of 3.96/4.0</li>
      </ul>
    </li>

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
        <div class="post-list__meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time>
            {% if post.tags.size > 0 %}
            &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
            {% endif %}
        </div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
